body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.game-list {
    padding: 20px;
    text-align: center;
}

.game-list h2 {
    color: #333;
}

#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game {
    width: 200px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.game img {
    width: 100%;
    border-radius: 10px;
}

.game-title {
    font-size: 18px;
    margin: 10px 0;
}

